.p-error {
  color: red;
}
.p-inputtext-sm .p-inputtext {
  font-size: 0.875rem;
  padding: 0.4375rem 0.4375rem;
}
.p-inputtext {
  font-size: 0.875rem;
  padding: 0.4375rem 0.4375rem;
  background-color: rgba(0, 0, 0, 0.06) !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: #2196f3;
}
/* .p-inputtext:enabled:hover {
  border-color: #2196f3;
} */

.agent-details {
  margin: 28px 80px 30px 58px;
}
.agent-details p {
  font: normal normal bold 16px/16px Open Sans;
  margin-bottom: 6px;
  color: #393f41;
}
.agent-details span {
  color: #707070;
  font: normal normal normal 15px/20px Open Sans;
  letter-spacing: 0.6px;
}
